{% extends "recipes/base.html" %}
<!-- -->
{% block content %}
<h1>Recipes About Page</h1>
<p>Welcome to the Recipes About Page! Here you can learn more about our website and its features. Recipes has been providing delicious and easy-to-follow recipes since forever. Over the years, we have expanded our collection to include a wide variety of dishes to suit all tastes and dietary needs.</p>

<h2>Featured Recipes</h2>
<p>Here are some of our most popular and highly-rated recipes:</p>
<ul>
  <li><b>White Sauce Pasta</b></a>: A creamy and cheesy penne pasta dish that is sure to be a hit with the whole family. Made with simple ingredients and easy-to-follow instructions, this recipe is perfect for a weeknight dinner.</li>
  <li><b>Chicken Masala</b></a>: Tender chicken breast cooked in a flavorful mushroom-wine reduction. This dish is elegant enough for a special occasion, but easy enough for a weeknight meal. Serve it with rice or naan for a complete and satisfying meal.</li>
  <li><b>Paneer Kadai</b></a>: A vegetarian stir fry made with vegetables, tomato stew, and paneer cubes. This dish is packed with flavor and protein, making it a filling and nutritious option for any meal. Serve it with rice or naan for a complete and satisfying meal.</li>
  <li><b>Club Sandwich</b></a>: A classic sandwich made with lettuce, tomato, chicken, and cheese. This recipe is perfect for a quick and easy lunch or dinner. Serve it with a side of chips or a salad for a complete meal.</li>
</ul>

<h2>Our Team</h2>
<p>Recipes is brought to you by a dedicated team of food lovers and experienced chefs.</p>

<br><br>
<h2>FAQ</h2>
<p>Do you have a question about Recipes? Check out our [FAQ]() for answers to common queries.</p>
{% endblock %}